body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header h1{
    color: #e5e7eb;
    font-size: 38px;
    position: absolute;
    left: 2in;
}

.header img{
    height: auto;
    width: 1in;
    position: absolute;
    left: 2in;
    top: 0.5in;
}
.links{
    position: absolute;
    right: 2in;
    top: 0.5in;
   
}

.links a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding-left: 40px;
   
}

.header{
    background: #1f2937;
    height: 100px;
}

.hero{
    background: #1f2937;
    height: 450px;
}

.hero h1{
    position: absolute;
    left: 2in;
    color: #f9faf8;
    font-size: 48px ;
    top: 1.5in;
}

.hero p{
    position: absolute;
    font-size: 18px;
    color: #e5e7eb;
    left: 2in;
    top: 2.4in;
    width: 5in;
}

.hero img{
    height: auto;
    width: 4in;
    position: absolute;
    right: 2in;
    top: 2in;
    border-radius: 5px;
}
.hero button{
    background:#3882f6;
    position: absolute;
    left: 2in;
    top: 4in;
    height: 0.4in;
    width: 1in;
    border: none;
    border-radius: 10px;
    
}

.hero button a{
    color: #e5e7eb;
    text-decoration: none;
    font-weight: 600;
    
}
.information{
    background: white;
    height: 650px;
   
}

.information img{
    height: auto;
    width: 3in;
    
}

.information .clover{
    position: absolute;
    left: 5.5in;
    margin-top: 0.2in;
}
.information .asta{
    position: absolute;
    width: 3in;
    left: 2.3in;
    margin-top: 3.2in;
    text-align: justify;
}

.information .yuno{
    position: absolute;
    width: 3in;
    left: 5.5in;
    margin-top: 3.2in;
    text-align: justify;

}

.information .noelle{
    position: absolute;
    width: 3in;
    left: 8.7in;
    margin-top: 3.2in;
    text-align: justify;
}

.images{
    display: flex;  
    position: absolute;
    top: 7in;
    right: 2.25in;
}

.discription{
    display: flex;
}
.images img{
    height: auto;
    width: 3in;
    padding: 10px;
    border-radius: 15px;
    
}
.quote{
    background-image: url(https://images.wallpapersden.com/image/download/asta-in-black-clover_a25pbGWUmZqaraWkpJRmaGhrrWxrbQ.jpg);
    height: 400px;
    
}

.quote p{
    color: #f9faf8;
    font-size: 36px;
    width: 10in;
    padding-top: 1.3in;
}

.call-to-action{
    background: white;
    height: 300px;
}

.call-to-action .back{
    color: #e5e7eb;
    background-color: #3882f6;
    width: 8in;
    position: absolute;
    left: 2in;
    margin-top: 1in;
    font-size: 18px;
    padding: 0.2in 1in;
    border-radius: 10px;

}
.back{
    display: flex;
    justify-content: space-between;
    
}
.back button{
    background:#3882f6;
    height: 0.4in;
    width: 1in;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 0.3in;
    font-weight: 600; 
       
}

.back button a{
    text-decoration: none;
    color: white;
}
.footer{
    background: #1f2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p{
    color: #e5e7eb;
    position: absolute;
    
}

.contain .fas{
    display: none;
}





/*@media screen and (max-width: 700px) {
    .header img, .hero h1, .hero p, .hero button{
        left: 1in;
    }
    .header, .hero, .quote, .footer{
        width:116%;
       
    }
    .header{
        position: absolute;
    }

    .links{
        right: 1in;
    }

    .hero img{
        position: absolute;
        right: -0.5in;
    }

    .hero{
        height:500px;
    }
    .images{ 
        position: absolute;
        right: -0.5in;
        margin-top: -0.5in;
    }
    .information .asta{
        position: absolute;
        left: 1.2in;
    }

    .information .yuno{
        position: absolute;
        left: 4.4in;
    }
    .information .noelle{
        position: absolute;
        left: 7.6in;
    }

    .information .clover{
        position: absolute;
        left: 4.5in;
    }

    .call-to-action .back{
        position: absolute;
        left: 1in;
    }



   
}*/

@media screen and (max-width: 1200px) and (min-width:450px){
    .links a{
        display: block;
        padding: 10px;
    }
    .links{
        position: absolute;
        background: grey;
        height: 650px;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    
    .contain .fas{
        display: block;
        color: white;
        margin: 20px;
        font-size: 22px;
        cursor: pointer;
        
    }

    .contain .fa-bars{
        position: absolute;
        right: 0;
    }

    .header img{
        position: absolute;
        left: 0.2in;
        top: 0.2in;
    }
    .hero h1{
        position: absolute;
        top: 0;
    }

    

    .hero{
        height: 550px;

    }

    .hero img{
        position: absolute;
        height: auto;
        width: 5in;
        left: 1.2in;
        top: 1.5in;
    }

    .hero p{
        top: 4.5in;
        left: 1.2in;
    }

    .hero button{
        top: 6in;
        left: 1.2in;
    }

    .images{
        flex-direction: column;
    }
    .information{
        height: 1800px;
    }
    .information .clover{
        position: absolute;
        left: 2.3in;
    }
    .images img{
        height: auto;
        width: 6in;

    }

    .asta1{
        position: absolute;
        left: -4.5in;
        top: 1.3in;
    }

    .yuno1{
        position:absolute;
        top: 7in;
        left: -4.5in;
    }

    .noelle1{
        position: absolute;
        left: -4.5in;
        top: 13.5in;
    }
    .information .asta{
        position: absolute;
        width: 5.9in;
        left: 0.7in;
        margin-top: 5in;
        
    }

    .information .yuno{
        position: absolute;
        width: 5.9in;
        left: 0.7in;
        margin-top: 11.2in;
        
    
    }
    
    .information .noelle{
        position: absolute;
        width: 5.9in;
        left: 0.7in;
        margin-top: 17.2in;
        
    }

    .quote p{
        font-size: 20px;
        width: 5in;
    }
    .quote{
        height: 300px;
    }

    .call-to-action  .back{
        width: 4.5in;
        left: 0.7in;
        padding-left: 0.5in;

    }

    .back button{
        width: 1in;
        position: absolute;
        right: 0.5in;
        top: 0.3in;
    }
    .back p{
        width: 4in;
    }

    



   
}


    
